@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap'); /* TOSHI */
@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

.paleta-cores {
    color: #d4201c;
    /* vermelho cor de fundo */
    color: #F5F4F3;
    /* branco do chapéu */
    color: #f9d929;
    /* letras/gravata */
    color: #BF6707;
}

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
}

.navbar-cima {
  background-color: rgb(193, 0, 22);
  overflow: hidden;
  display: block;
  margin: 0 auto;
}

.navbar-items a{
  float: left;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 1.2em;
  transition: 0.5s;
}

.navbar-items a:hover {
  background-color: rgb(219, 29, 51);
}


.navbar-items a:not(:first-child) {
  padding-top: 23px;
  padding-bottom: 22px;
}

#destaque {
  font-family: 'Trade Winds', cursive;
  padding-bottom: 18px;
  font-size: 1.5em;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.principal {
  display: flex;
  width: 100vw;
}

.box {
  position: relative;
  width: 50%;
  height: 80vh;
  overflow: hidden;
}

div.box-content {
  position: absolute;
  top: 30vh;
  left: 30vw;
  font-size: 35px;
  margin: 0;
}

.box-left {
  width: 60%;
  background-color: rgba(224, 185, 12, 0.808);
}

.footer {
  display: flex;
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding-left: 15px;
  font-size: 15px;
  height: 60px;
  align-items: center;
  background-color: rgb(197, 195, 195);
}

.fbox {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.fbox-right a, .fbox-right p{
  color: black;
  float: right;
  text-decoration: none;
  margin-right: 30px;
}

a:visited {
  text-decoration: none;
}

img {
  min-width: 300px;
  will-change: 500px;
  width: 100%;
  height: 100%;
}